%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%%
%%% This file is part of emonk_helper released under the Apache 2 license. 
%%% See the NOTICE for more information.


{deps, [
    {emonk, ".*", {git, "git://github.com/benoitc/emonk.git",
                  {branch, "static"}}}
]}.
